.logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;


  &.side-logo{
    width: 100%;
    height: 90px;
    cursor: pointer;

    img{
      height: 60px;
      margin-right: 20px;
    }

    span{
      font-size: 25px;
      font-weight: bold;
      color: #9d009d;
      user-select: none;
    }
  }

  &.auth-logo{
    width: 100%;
    height: 90px;

    img{
      height: 100px;
      margin-right: 20px;
    }

    span{
      font-size: 40px;
      font-weight: bold;
      color: #9d009d;
      user-select: none;
    }
  }

}
