<div id="graph-wrapper" class="graph-wrapper">
    <div class="blocks-wrapper">
        <div [id]="block.id"
        cdkDragBoundary=".graph-wrapper"
        class="graph-block"
        *ngFor="let block of graphBlocks?.blocks"
        (click)="clickOnBlock($event, block.id)"
        (cdkDragMoved)="movingBlock($event, block.id)"
        (cdkDragEnded)="endedMovingBlock($event, block.id)"
        cdkDrag
        [cdkDragDisabled]="createRelationMode">
            <app-block [blockInput]="block"></app-block>
        </div>
    </div>

    <app-lines-svg
      [lines]="lines"
      [oneTypeOrientedLines]="oneTypeOrientedLines"
      [oneTypeUndirectedLines]="oneTypeUndirectedLines"
      [diverseOrientedLines]="diverseOrientedLines"
      [diverseUndirectedLines]="diverseUndirectedLines"
      [multipleOrientedVectorLines]="multipleOrientedVectorLines"
      [multipleUndirectedVectorLines]="multipleUndirectedVectorLines"
    ></app-lines-svg>
</div>
