<div id="graph-wrapper" class="graph-wrapper">
    <div class="blocks-wrapper">
        <div [id]="block.id"
        cdkDragBoundary=".graph-wrapper"
        class="graph-block"
        *ngFor="let block of graphBlocks.blocks;"
        (click)="clickOnBlock(block.id)"
        (cdkDragMoved)="movingBlock($event, block.id)"
        (cdkDragEnded)="endedMovingBlock($event, block.id)"
        cdkDrag>
            <app-block [value]="block.id"></app-block>
        </div>
    </div>

    <app-lines-svg [lines]="lines"></app-lines-svg>
</div>
