<div id="graph-wrapper" class="graph-wrapper">
    <!-- <div class="count-wrapper">
        Clicks count: {{clicksCount}}
    </div> -->
    <div class="blocks-wrapper">
        <div [id]="block.id"
        cdkDragBoundary=".wrapper"
        class="graph-block" 
        *ngFor="let block of graphBlocks.blocks" 
        (click)="clickOnBlock($event)"
        (cdkDragMoved)="movingBlock($event, block.id)"
        (cdkDragEnded)="endedMovingBlock($event, block.id)"
        cdkDrag>
            <app-block [value]="block.id"></app-block>
        </div>
    </div>

    <svg>
        <defs>
            <marker id="arrowhead" [attr.markerWidth]="markerWidth" 
            [attr.markerHeight]="markerHeight" 
            refX="0" refY="3.5" orient="auto">
              <polygon points="0 0, 10 3.5, 0 7" />
            </marker>
        </defs>
        <line *ngFor="let line of lines" 
        [attr.x1]="line.x1" 
        [attr.y1]="line.y1" 
        [attr.x2]="line.x2" 
        [attr.y2]="line.y2" 
        (click)="clickOnLine(line)"
        stroke="black" 
        marker-end="url(#arrowhead)"/>
    </svg>
</div>
