<div class="dialog-wrapper">
  <div class="dialog-header">
    <h3>Create Vector</h3>
    <mat-icon matTooltip="Close" (click)="close()">close</mat-icon>
  </div>
  <form [formGroup]="vectorForm" class="dialog-body">
    <div class="name-wrapper">
      <label for="">Vector Name</label>
      <input formControlName="name">
    </div>

    <ng-container formArrayName="items">
      <div
        *ngFor="let item of vectorItems.controls; let i = index"
        [formGroupName]="i"
        class="item-wrapper"
        [ngClass]="{gray: i%2 ==0}">
        <div class="count-wrapper">
          <span>{{i+1}}</span>
        </div>

          <div class="input-wrapper">
            <label for="">Value</label>
            <input type="text" placeholder="v1" formControlName="value">
          </div>
          <div class="type-wrapper">
            <label for="">Type</label>
            <select formControlName="type">
              <option *ngFor="let relation of relationsList">{{relation.text}}</option>
            </select>
          </div>

          <div class="input-wrapper">
            <label for="">Weight</label>
            <input type="text" placeholder="0.0" formControlName="weight">
          </div>
          <div>
          <mat-icon (click)="removeItem(i)" matTooltip="Remove Vector Item">close</mat-icon>
      </div>

    </div>
    </ng-container>

    <!-- <div style="cursor: pointer;" >+ Add item</div> -->
  </form>
  <div class="dialog-footer">
    <button (click)="submit()">Save</button>
    <button (click)="addItem()">Add Vector Item</button>
    <button (click)="close()">Cancel</button>
  </div>
</div>
