<div class="wrapper">

  <app-top-menu></app-top-menu>

  <div class="content-wrapper">
    <app-side-menu></app-side-menu>
    <app-graph  *ngIf="showType == 0"></app-graph>
    <!-- <app-algorythm  *ngIf="showType == 2"></app-algorythm> -->
    <app-vertices *ngIf="showType == 1"></app-vertices>
    <app-features *ngIf="showType == 3"></app-features>
    <app-relations *ngIf="showType == 2"></app-relations>
    <app-canvas *ngIf="showType == 4"></app-canvas>

  </div>
  <div class="loading" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>

</div>
