.vectors-wrapper{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 20px;
  .actions{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    padding-top: 15px;

    span{
      font-size: 15pt;
      font-weight: 500;
    }

  }

  span{
    font-size: 20px;
    font-weight: 500;
    color: purple;
    margin-bottom: 5px;
    user-select: none;
  }

  // justify-content: space-between;
  // width: 100%;
}
