<div class="dialog-wrapper">
  <div class="dialog-header">
    <h3>Add filter options</h3>
    <mat-icon matTooltip="Close" (click)="close()">close</mat-icon>
  </div>
  <div class="dialog-body">
    <span >Relation Type</span>
    <input type="text" name="" id="" [(ngModel)]="name">
    <br>
    <span >Vector Type</span>
    <input type="text" name="" id="" [(ngModel)]="name">
  </div>
  <div class="dialog-footer">
    <button (click)="submit()">Filter</button>
    <button (click)="close()">Cancel</button>
  </div>
</div>
