.auth-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(218, 217, 217);
  height: 100%;

  .form-wrapper{
    width: 450px;
    min-height: 480px;
    max-height: 670px;
    background-color: white;
    margin: 0 auto;
    border-radius: 10px;
    padding: 30px;

    .navigate-buttons{
      display: flex;
      flex-direction: row;
      width: 100%;
      margin: 20px 0;
      border-bottom: solid;

      .navigate{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        height: 30px;
        font-size: 16pt;
        font-weight: 500;
        user-select: none;
        cursor: pointer;

        &:hover{
          color: #9d009d;
          border-bottom: solid rgb(177, 141, 177);
        }

        &.active{
          color: #9d009d;
          border-bottom: solid #9d009d;
        }
      }
    }
  }
}
