<div class="relations-wrapper">
  <div class="actions" (click)="changeActionsStatus()">
    <span>Choose relation type</span>
    <mat-icon *ngIf="!showRelations">expand_more</mat-icon>
    <mat-icon *ngIf="showRelations">expand_less</mat-icon>
  </div>
  <ng-container *ngIf="showRelations">
    <app-relation *ngFor="let relation of relationsList" [relation]="relation"></app-relation>
    <div class="dialog-body">
      <span >Relation Value</span>
      <input type="text" name="" id="" [(ngModel)]="value">
      <span >Relation Type</span>
      <input type="text" name="" id="" [(ngModel)]="type">
    </div>
    <div class="actions-button">
      <mat-icon matTooltip="Add" (click)="add()">check</mat-icon>
      <mat-icon matTooltip="Clear" (click)="clear()">clear</mat-icon>
    </div>
  </ng-container>



</div>
